body {
    margin: 0 auto;
    font-family: "Poppins";
    background-image: radial-gradient(circle at 95.45% -4.17%, #dcb744 0,
     #e5af41 5.56%, #eea740 11.11%, #f59c40 16.67%, #fa9141 22.22%,
      #ff8444 27.78%, #ff7547 33.33%, #ff644c 38.89%, #ff5152 44.44%,
       #ff3858 50%, #fb1160 55.56%, #f50069 61.11%, #ed0075 66.67%,
        #e40082 72.22%, #d80090 77.78%, #ca009f 83.33%, #b800ae 88.89%,
         #a300bd 94.44%, #8912cb 100%);
    background-size: 100% 150%;
}

.options * {
    font-family: Arial;
    color: black;
}

.maintable {
    border-width: 0;
}

.form, .selectores {
    margin: 0 auto;
    background-color: white;
}

.form {
    border-radius: 10px;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 45px;
    font-weight: bold;
}

.navbar {
    background-color: black;
    width: 100%;
    color: white;
}

.logo {
    padding-left: 20%;
}

.user {
    padding-left: 60%;
}

.userimg {
    padding: 10px;
    padding-top: 17px;
    width: 25px;
    height: 25px;
}

input[type="submit"] {
    background: linear-gradient(#0086EF, #132F85);
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 4px;
    margin-top: 35px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: linear-gradient(#132F85, #0086EF);
}

.input-number {
    border: solid 1.5px #CECECE;
    border-radius: 4px;
    width: 97.5%;
    height: 25px;
}

.input-number:disabled {
    background-color: #E9ECEF;
}

select {
    border: solid 1.5px #CECECE;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

select:disabled {
    background-color: #E9ECEF;
}

#select_marcas {
    background-color: #E9ECEF;
}
